<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\RabbitTestHarness" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <countDirection>1</countDirection>
      <datePattern value=".yyyyMMdd-HHmm" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="25KB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
</configuration>