<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <!--values are [local, SvcAccount]-->
    <add key="sw.SecurityContext" value="local" />
    <add key="sw.MessageCount" value="5" />
    <add key="sw.QueueName" value="5" />
    <add key="rmq.Port" value="5672" />
    <add key="rmq.Heartbeat" value="10" />
    <add key="rmq.VmHost" value="/" />
    <add key="rmq.HostName" value="localhost" />
    <!--add key="rmq.HostName" value="PV-DV01-DSA042" /-->
    <add key="rmq.SvcUser" value="sw\dev_ds_proc_svc" />
    <add key="rmq.SvcPassword" value="somepassword" />
    <add key="rmq.UserName" value="guest" />
    <add key="rmq.Password" value="guest" />
    <add key="rmq.EndpointQueue" value="DS_Test_Delete_Me"/>
    <!--in seconds. default 5-->
    <add key="rmq.RequestedHeartbeat" value="5" />
    <!--in seconds. default 1-->
    <add key="rmq.DequeueTimeout" value="1" />
    <add key="rmq.UsePublisherConfirms" value="true" />
    <!--in seconds. default 30-->
    <add key="rmq.MaxWaitTimeForConfirms" value="30" />
    <!--in seconds. default 10-->
    <add key="rmq.RetryDelay" value="10" />
    <!--PrefetchCount relates to channel.basicQos setting. Defaults to number of threads. see http://www.rabbitmq.com/consumer-prefetch.html -->
    <!--To enable this configuration would require a new DS release-->
    <!--add key="rmq.PrefetchCount" value="local" /-->
  </appSettings>
  <connectionStrings>
    <add name="Host.RabbitMQConnection.Local" connectionString="endpoint=rabbitmq://rmq.HostName:rmq.port/rmq.EndpointQueue; userId=rmq.UserName; password=rmq.Password" />
    <add name="Host.RabbitMQConnection.SvcAccount" connectionString="endpoint=rabbitmq://rmq.HostName:rmq.port/rmq.EndpointQueue" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.150.0" newVersion="3.2.150.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>